.calendar-wrapper {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

.calendar-header-bar {
    width: 100%;
    height: 30px;
    background: #474747;
    margin-bottom: 6px;
}

.calendar-grid div:nth-child(7n + 1) {
    color: red !important;
}
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}
.calendar-cell {
  min-height: 115px;
  border: 0px solid #ddd;
  border-radius: 3px;
  padding: 4px;
  font-size: 20px;
}
.calendar-cell span {
  font-weight: bold;
}
.calendar-cell.empty {
  background: #ffffff;
  border-style: dashed;
}



.plant-section-wrapper {
    margin-top: 50px;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    height: 900px;
}

.section-title-bar {
    background: #474747;
    padding: 10px 15px;
}

.section-divider {
    border-top: 2px solid #ccc;
    margin: 20px 0;
}

.remove-btn:hover {
    color: #dc3545 !important;
    cursor: pointer;
}