
.container-fluid {
    max-width: 1400px;
}

.row {
    display: flex;
    align-items: stretch;
}



.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 6px;
}

.calendar-cell {
    min-height: 75px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 4px;
    font-size: 15px;
}

.calendar-cell span {
    font-weight: bold;
}

.calendar-cell.empty {
    background: #ffffff;
    border-style: dashed;
}

.plant-section-wrapper {
    width: 100%;
    padding: 0 10px;
    background: #fff;
    border-radius: 3px;
    overflow-y: auto;
    height: 100%;
    margin-top: 32px;
}

.card-half {
    width: 100% !important;
    margin: 0 auto 10px auto;
}

.card-header {
    padding: 10px 14px;
}

.card-body {
    padding: 10px 12px;
}

.section-title-bar .bg-dark {
    height: 30px;
}

.section-content {
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.card-half {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card-half .card-body {
    flex: 1;
    overflow-y: auto;
}
